@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');
@import url(header.css);
@import url(main.css);
.kalam-light {
    font-family: "Kalam", cursive;
    font-weight: 300;
    font-style: normal;
}

.kalam-regular {
    font-family: "Kalam", cursive;
    font-weight: 400;
    font-style: normal;
}

.kalam-bold {
    font-family: "Kalam", cursive;
    font-weight: 700;
    font-style: normal;
}

:root {
    --bg-color:#0b0054;
    --text-color:#fbbe00;
    --accent-color:#e30050;
    --accent-color-light:#00d8fc;
}

body {
    margin: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
}



