@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');
@import url(main.css);
@import url(header.css);

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1.5em;
    list-style: none;
}

:root{
    --bckgrndclr: #0B0053;
    --accntclr1Y: #F9BD00;
    --accntclr1R: #E3004F;
    --mainfont: 'Kalam', cursive;
    --fontLarge: 700;
    --fontMedium: 400;
    --fontSmall: 300;

}


body{
    max-width: 100%;
    overflow-x: hidden;
    background: var(--bckgrndclr);
    color: white;
}



h1{
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 30px;
    font-size: 8vw;
    color: var(--accntclr1Y);
    font-weight: var(--fontLarge);
    font-family: var(--mainfont);
    border-bottom: 2px solid var(--accntclr1R);

}